<div id="map" style="height: 700px; width: 700px;z-index:10;" (click)="showTable()">
</div>

<!-- Popup card for the table -->
<div *ngIf="showMapTableFlag" class="popup-card">

  <div>
    <span><strong>District wise Project Details</strong> </span>
    <button class="close-button" (click)="closeTable()">X</button></div>
  <table class="custom-table">
    <!-- Table content goes here -->
    <thead>
      <tr>
        <!-- <th>District:</th>
        <th>Projects:</th> -->
        
        <th>ProjectTitle</th>
        <th>Project ID</th>
        <th>Line Department Id</th>
        <th>line Department Name</th>
        <th>Physical-Progress</th>
        <th>Financial-Progress</th>
        <th>Project Status</th>
        <th>Project-Tender-Amount</th>
        <th>Paid-to-contractor</th>
        <th>contractor-Amount-Balance</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projTitle[0]; let i=index">
        <!-- <td>{{selectedDistrict}}</td>
        <td>{{projCount}}</td> -->
        
        <td >
          {{i+1}}. {{project.project}}
        </td>
        <td>{{project.proId}}</td>
        <td>{{project.line}}</td>
        <td>{{project.lineDepartmentName}}</td>
        <td>{{project.physical}}</td>
        <td>{{project.financial}}</td>
        <td>{{project.projectStatus}}</td>
        <td>{{project.projectSanctionedCost}}</td>
        <td>{{project.tenderAmount.value}}</td>
        <td>{{project.contractorBalanceAmount}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="custom-tooltip" *ngIf="showToolTip">
  <strong>District: </strong>{{ hoveredDistrict }}
  <br>
  <strong>Projects: </strong>{{ hoveredProjectCount }}
</div>